{{- $gitUsername := promptStringOnce . "git.username" "Git Username" -}}
{{- $gitEmail := promptStringOnce . "git.email" "Git Email address" -}}

{{/* Detect OS Type */}}
{{- $parts := list -}}
{{- $parts = append $parts .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "idLike" -}}
  {{- $parts = append $parts .chezmoi.osRelease.idLike -}}
{{- end -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
  {{- $parts = append $parts .chezmoi.osRelease.id -}}
{{- end -}}
{{- $osid := join "-" $parts -}}

[data]
    git.username = {{ $gitUsername | quote }}
    git.email = {{ $gitEmail | quote }}
    osid = {{ $osid | quote }}